<% include ../partials/header %>


<div class="container-fluid">
  <div class="row content-container">
    <% include ../vertical_nav %>
    <div class="rights-section col-lg-10">

      <div class="row general-row headline-values">

        <div class="col-lg-12 col-xs-12">
          <h3>
            <%= client.name %>
          </h3>

        </div>
        <div class="row general-row values-row">
          <div class="col-xs-6 key-values">
            <span class="value-description">Designation</span> <br />
            <span class="values"><%= client.designation %></span>
          </div>
          <div class="col-xs-6 key-values">
            <span class="value-description">Value</span> <br />
            <span class="values">£<%= client.value %></span>
          </div>
          <div class="col-xs-6 key-values">
            <span class="value-description">Start Date</span> <br />
            <span class="values"><%= client.start_date.toLocaleDateString('en-GB') %></span>
          </div>
          <div class="col-xs-6 key-values">
            <span class="value-description">Expiry Date</span> <br />
            <span class="values"><%= client.end_date.toLocaleDateString('en-GB') %></span>
          </div>
          <div class="col-xs-6 key-values">
            <span class="value-description">Contact</span> <br />
            <span class="values"><%= client.contact %></span>
          </div>
          <div class="col-xs-6 key-values">
            <span class="value-description">Email</span> <br />
            <span class="values"><%= client.email %></span>
          </div>
          <div class="col-xs-6 key-values">
            <span class="value-description">Number</span> <br />
            <span class="values"><%= client.contact_number %></span>
          </div>
          <div class="col-xs-6 key-values digital-only">
            <span class="value-description">More Info</span> <br />
            <span class="values client-info-modal" data-toggle="modal" data-target="#exampleModalCenter">Click for more
              details <i class="fas fa-info-circle"></i></span>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Client Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= client.notes %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="secondary-button" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 key-values">
            <span class="value-description">Print</span> <br />
            <button class="print-button" title="Print" onclick="printFunction()"><i class="fas fa-print"></i></button>
          </div>
        </div>
      </div>

      <!-- Objectives section -->
      <div class="row general-row client-about-row">
        <div class="col-xs-12">
          <h4 class="heading-primary">OBJECTIVES</h4>
        </div>
        <div class="col-xs-12">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum."</p>
         
        </div>
      </div>

      <!-- Performance section -->
      <div class="row general-row client-about-row">
        <div class="col">
          <div class="row heading-container" style="margin-bottom:5px;">
            <div class="col-12">
              <h4 class="heading-primary">PERFORMANCE</h4>
              <div class="dropdown-list move-right">
                <p class="dark-button-transparent">Data <i class="fas fa-plus-circle"></i></p>
                <div class="dropdown-data">
                  <ul>
                    <a href="/clients/<%= client._id %>/broadcasts/new"><li class="drop-item">Broadcast</li></a>
                    <a href="/clients/<%= client._id %>/socials/new"><li class="drop-item">Social</li></a>
                  </ul>
              </div>
              </div>
            </div>
          </div>
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link metrics" id="pills-facebook-tab" data-toggle="pill" href="#pills-facebook" role="tab"
                aria-controls="pills-facebook" aria-selected="false">Facebook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link metrics" id="pills-twitter-tab" data-toggle="pill" href="#pills-twitter" role="tab"
                aria-controls="pills-twitter" aria-selected="false">Twitter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link metrics" id="pills-instagram-tab" data-toggle="pill" href="#pills-instagram" role="tab"
                aria-controls="pills-instagram" aria-selected="false">Instagram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link metrics" id="pills-broadcast-tab" data-toggle="pill" href="#pills-broadcast" role="tab"
                aria-controls="pills-broadcast" aria-selected="false">Broadcast</a>
            </li>

          </ul>

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-facebook" role="tabpanel"
              aria-labelledby="pills-facebook-tab">
              <!-- Facebook performance -->
              <table id="data-table" class="table data-table">
                <thead>
                  <tr>
                    <td onclick="sortTable(0)">
                       Campaign <!-- <i class="fas fa-sort"></i> -->
                    </td>
                    <td>
                      Posts
                    </td>
                    <td>
                      Impressions
                    </td>
                    <td>
                      Engagement
                    </td>
                    <td>
                      Clicks
                    </td>
                  </tr>
                </thead>
                <% client.socials.forEach(function(social){ %>
                  <tbody>
                    <tr>
                      <td>
                        <%= social.campaign %>
                      </td>
                      <td>
                        <%= social.fb_posts %>
                      </td>
                      <td>
                        <%= social.fb_reach %>
                      </td>
                      <td>
                        <%= social.fb_engagement %>
                      </td>
                      <td>
                        <%= social.fb_clicks %>
                      </td>
                    </tr>
                  </tbody>
                 <% }) %>
           
              </table>
            </div>
            <div class="tab-pane fade show" id="pills-twitter" role="tabpanel" aria-labelledby="pills-twitter-tab">
              <!-- Twitter performance -->
              <table id="data-table" class="table data-table">
                <thead>
                  <tr>
                    <td onclick="sortTable(0)">
                      Campaign
                    </td>
                    <td>
                      Posts
                    </td>
                    <td>
                      Impressions
                    </td>
                    <td>
                      Engagement
                    </td>
                    <td>
                      Clicks
                    </td>
                  </tr>
                </thead>
                <% client.socials.forEach(function(social){ %>
                <tbody>
                  <tr>
                    <td>
                      <%= social.campaign %>
                    </td>
                    <td>
                      <%= social.tw_tweets %>
                    </td>
                    <td>
                      <%= social.tw_impressions %>
                    </td>
                    <td>
                      <%= social.tw_engagement %>
                    </td>
                    <td>
                      <%= social.tw_clicks %>
                    </td>
                  </tr>
                </tbody>
               <% }) %>
              </table>
            </div>
            <div class="tab-pane fade show" id="pills-instagram" role="tabpanel" aria-labelledby="pills-instagram-tab">
              <!-- Instagram Data -->
              <table id="data-table" class="table data-table">
                <thead>
                  <tr>
                    <td>
                      Campaign
                    </td>
                    <td>
                      Posts
                    </td>
                    <td>
                      Impressions
                    </td>
                    <td>
                      Engagement
                    </td>
                    <td>
                      Clicks
                    </td>
                  </tr>
                </thead>
                <% client.socials.forEach(function(social){ %>
                <tbody>
                  <tr>
                      <td>
                        <%= social.campaign %>
                        </td>
                    <td>
                      <%= social.in_posts %>
                    </td>
                    <td>
                      <%= social.in_impressions %>
                    </td>
                    <td>
                      <%= social.in_engagement %>
                    </td>
                    <td>
                      <%= social.in_clicks %>
                    </td>
                  </tr>
                </tbody>
                <% }) %>
              </table>
            </div>

            <div class="tab-pane fade show" id="pills-broadcast" role="tabpanel" aria-labelledby="pills-broadcast-tab">
              <!-- Broadcast Data -->
              <table id="data-table" class="table data-table">
                <thead>
                  <tr>
                    <td>
                      Asset Name
                    </td>
                    <td>
                      Exposures
                    </td>
                    <td>
                      Duration
                    </td>
                    <td>
                      Media Equivalency
                    </td>
                    <td>
                      QI Value
                    </td>
                  </tr>
                </thead>
                <% client.broadcasts.forEach(function(broadcast){ %>
                <tbody>
                  <tr>
                      <td> 
                      <%= broadcast.asset_name %>
                        </td>
                    <td>
                      <%= broadcast.exposures %> 
                    </td>
                    <td>
                      <%= broadcast.duration %>
                    </td>
                    <td>
                      <%= broadcast.me_value %> 
                    </td>
                    <td>
                      <%= broadcast.qi_value %> 
                    </td>
                  </tr>
                </tbody>
                <% }) %>
              </table>
            </div>
           
          </div>

        </div>

      </div>
      <!-- Delivery section  -->
      <div class="row general-row client-about-row">
        <div class="col-xs-12 col-lg-12 delivery-secton">
          <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            <h4 class="heading-primary">DELIVERY</h4>
          </a>
          <a href="/clients/<%= client._id %>/rights/new"><button class="dark-button-transparent move-right">Add Rights
              <i class="fas fa-plus-circle"></i></button></a>
          <br>
          <br>
          <table id="data-table" style="width:100%;">

            <tr>
              <td onclick="sortTable(0)">Category <i class="fas fa-sort"></i></td>
              <td>Detail</td>
              <td>Attachments</td>
              <td>Progress</td>
            </tr>

            <% client.rights.forEach(function(right){ %>
            <tr>
              <td> <%= right.category %> </td>
              <td> <%= right.description%></td>
              <td> <%= right.attachments %></td>
              <td> <%= right.progress %></td>
            </tr>
            <% }) %>
          </table>
        </div>
      </div>

      <!-- End delivery section -->
      <form action="/clients/<%= client._id %>?_method=DELETE" method="POST">
        <div class="button-group"><button onclick="deleteWarning()" class="warning-button">Delete</button></div>
      </form>
    </div>
  </div>
</div>

<!-- End rights section -->

<% include ../partials/footer %>