<% include ../partials/header %>

<div class="container">
  <div class="client-about-row">
    <h2>All Client Reports</h2>
    <input type="text" style="width:95%;display:inline" class="search-bar" id="rights_search" onkeyup="searchrights()"
      placeholder="Search rights by category..." title="Search rights">
    <div class="help">
      <i class="fas fa-question-circle"></i><span class="help-content">

        This search uses the detail column. Try and enter your rights using keywords to help group them</span>

    </div>
    <table id="rightsTable" style="width:100%;">
      <tr>
        <td>Campaign </td>
        <td>Posts</td>
        <td>Reach</td>
        <td>Engagement</td>
        <td>Clicks</td>
      </tr>
      <% performances.forEach(function(performance){ %>
      <tr>
        <td> <%= performance.campaign %> </td>

        <td> <%= performance.fb_posts %> </td>

        <td> <%= performance.fb_reach %> </td>

        <td> <%= performance.fb_engagement %> </td>

        <td> <%= performance.fb_clicks %> </td>
      </tr>
      <% }) %>
    </table>
  </div>
</div>





<% include ../partials/footer %>